body{
max-width: 500px;
margin: 20vh auto;
padding: 20px;
font-family: 'nerislight', sans-serif;
background: #000000 url("moon.svg") no-repeat fixed calc(20vw - 100px) -100px; 
color: #FFFFFF;
}
h1 {
font-family: 'nerissemibold', sans-serif;
}
